@charset "UTF-8";

main {
    box-shadow: 0 0 15px #ddd;
    overflow: hidden;
    width: 720px;
    margin: 80px auto;
}
main form {
    float: left;
    width: 280px;
    text-align: left;
    padding: 40px;
}
main form h3 {
    font-size: 26px;
    font-family: 'GmarketSans',sans-serif;
    font-weight: 500;
    margin-top: 0;
}
main form label {
    display: block;
}
main form input {
    outline: none;
    border: 1px solid #999;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    color: #0f2c67;
    margin-bottom: 20px;
}
main form input:focus {
    background-color: #fffbc4;
}
/* main form input[type="checkbox"] */
main form input[name=user_chk] {
    width: auto;
    margin-right: 6px;
}
main form button {
    width: 100%;
    border: none;
    background-color: #f8ea6d;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
}
main form button:hover {
    background-color: #fffbc4;
}
main form p {
    text-align: right;
    font-size: 14px;
    padding: 10px;
}
main form p a {
    display: block;
    text-decoration: underline;
}
main img {
    float: left;
}